*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.site_wrapp {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  max-width: 1260px;
  min-height: 705px;
  background: linear-gradient(109.27deg, #313132 6.56%, #161617 86.99%);
}

.site_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 705px;
  max-width: 106px;
  border-right: 2px solid #404041;
}

.left_box {
  display: flex;
  align-items: center;
  justify-content: center;
    width: 106px;
  height: 106px;
  background-color: #404041;
}

.left_box_bottom {
  padding: 0 40px;
  margin-bottom: 35px;
}

.left_linc {
  text-decoration: none;
  color: #fff;
  margin: 0;
  margin-top: 40px;
  transform: rotate(0.75turn);
}

.site_right {
  width: 92%;
}

/* ***HEADER*** */
.header {
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 35px 46px 35px 56px;
}

.header_logo {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  font-family: Poppins;
  line-height: 1.2;
}

/* ***NAV*** */

.nav {
  display: flex;
  align-items: center;
}

.nav_linc {
  text-decoration: none;
  color: #fff;
  margin: 0;
  margin-right: 30px;
}

.nav_linc:hover, .nav_search_btn:hover {
  opacity: 0.7;
}

.nav_search_btn {
  margin-left: 20px;
  margin-right: 15px;
}

/* ***WORK*** */
.work {
  padding: 82px  0 0 60px;
}

.work_heading {
  color: #fff;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.work_line {
  display: inline-block;
  position: relative;
  width: 230px;
  height: 2px;
  background:rgb(118, 107, 107);
}

.work_line span {
  display: inline-block;
  position: absolute;
  width: 187px;
  left: 0;
  top: 0;
  height: 2px;
  background: rgba(255, 255, 255, 0.6);
}

.work_title {
  color: #fff;
  font-size: 18px;
  margin: 0;
  margin: 15px 0 ;
}

.work_desc {
  color: #fff;
  font-size: 14px;
  margin: 0;
  margin-bottom: 5px;
}


/* ***WORKME*** */
.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 132px;
}


.workme {
  margin: 0;
  padding: 86px 112px 0;
}

.workme_heading {
  color:#fff;
  font-weight: bolt;
  font-size: 50px;
  max-width: 220px;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.workme_desc {
  color:#fff;
  margin: 0;
  font-size: 15px;
  max-width: 390px;
  line-height: 1.5;
}

.workme_desc span {
  text-decoration:underline;
}

/* ***FOOTER**** */
.footer {
  padding: 0 56px;
  min-height: 169px;
  display: flex;
  justify-content: space-between;
  background-color:rgba(255, 255, 255, 0.027);
}

.footer_left {
  display: flex;
}

.footer_heading {
  color: #fff;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.footer_desc {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  color: #fff;
  font-size: 14px;
}

.footer_desc_, .footer_btn {
  color:#fff;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.footer_btn {
  margin-top: 15px;
}

.footer_points {
  width: 50px;
}

.points, .point  {
  background:#fff;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.point {
  background:rgb(118, 107, 107);
  margin-left: 10px;
}

.footer_left_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 188px;
}

.footer_right_ {
  width: 250px;
}

.footer_left__ {
  padding: 67px 0 0;
  margin-left: 50px;
  margin-right: 50px;
  width: 188px;
}

.footer_right {
  display: flex;
  align-items: center;
}

.footer_img {
  margin-right: 30px;
}




/* ** **  MEDIA responsiv  ** ** */

@media only screen and (max-width:1127px) {
  .footer {
    padding: 0 55px 0 45px;
  }

  .footer_left__ {
    margin-left: 25px;
    margin-right: 35px;
  }
}

@media only screen and (max-width:1075px) {
  .footer_left__ {
    width: 164px;
    margin-left: 15px;
    margin-right: 20px;
  }

  .footer_left_ {
    width: 164px;
  }
}

@media only screen and (max-width:994px) {
  .footer_left {
    display: flex;
    flex-direction: column;
  }

  .point, .points {
    display: none;
  }

  .footer_left_ {
    margin-top: 15px;
  }

  .footer_left__ {
    margin: 0;
    margin-top: 15px;
    padding: 0;
  }
}

@media only screen and (max-width:861px) {

  .site_right {
    width: 100%;
  }

  .site_left {
    display: none;
  }
}

@media only screen and (max-width:740px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  .footer_left {
    margin-bottom: 20px;
    text-align: center;
  }

  .main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 80px;
  }

  .work {
    padding: 45px 0 0;
  }

  .workme {
    padding: 86px 0 0;
  }

  .workme_heading {
    margin: 0 0 35px;
    max-width: 400px;
  }


}